body{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	margin-right: 20px;
}
.top nav,ul,li{
	display: inline-block;
}
.top{
	display: inline-block;
}
.navbar-li{
	font-family: 'Poppins-Bold'
}
.navbar-li-1>a {
	padding-left: 90px;
	margin-left: 90px;
	font-family: 'Poppins-Bold'
	
}
.navbar-li-2>a {
	padding-left: 90px;
	font-family: 'Poppins-Bold'
}
h1{
	font-size: 62px;
	font-family:'Poppins'
	margin-top:105px;
}