body{
	margin-right: 60px;
	margin-right: 20px;
}
.top nav,ul,li{
	display: inline-block;
	}

.top{
	display: inline-block;
}
.navbar-li>a{
	font-family: 'Poppins-Bold';	
	color: white;
}
.navbar-li-1>a {
	padding-left: 90px;
	margin-left: 90px;
	font-family: 'Poppins-Bold'	;
	color: white;
}
.navbar-li-2>a {
	padding-left: 90px;
	font-family: 'Poppins-Bold';
	color: white;
}
.divmain,h1,p,{
	position: absolute;
    margin-top:0px;
}
h1 {
	position: top;
	font-size: 60px;
	font-family: 'Poppins-ExtraBold';
}
}
.divmain>p{
    font-size: 14px;
	font-family: 'Poppins-Regular';
}
	
.background {
    position:relative; 
	max-width: 1366px;
	max-height: 662px;
}
.mainsection{
	position: relative;
}
header{
	position: absolute;
	top: 0;
	margin-left: 60px;
	margin-top:20px;
}
h1{
	position: absolute;
	top: 150px;
	left: 60px;
	color: white;
	font-family: 'Poppins-ExtraBold';
}
p{
	position: absolute;
	top: 270px;
	left: 60px;
	color: white;
	font-family: 'Poppins-Regular';
}
.sticky{
	position: absolute;
	top:600px;
	left: 60px;
	color:white;
	font-family:'Poppins-Bold';
}
.next-to-sticky{
	position: absolute;
	display: inline-block;
	top:600px;
	right: 60px;
}
.rectangle{
	position: relative;
}
.arrow{
	position: absolute;
	top: 0px;
}
