body{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	margin-right: 20px;
}
.top nav,ul,li{
	display: inline-block;
}
.top{
	display: inline-block;
}
.navbar-li{
	font-family: 'Poppins-Bold'
}
.navbar-li-1>a {
	padding-left: 90px;
	margin-left: 90px;
	font-family: 'Poppins-Bold'	
	position:absolute;
}
.navbar-li-2>a {
	padding-left: 90px;
	font-family: 'Poppins-Bold'
	position: absolute;
}
.divmain{
	margin-top: 105px;
}
h1{
	font-size: 60px;
	font-family: 'Poppins-ExtraBold'
}
.divmain>p{
	font-size: 14px;
	font-family: 'Poppins-Regular'
}
.background{
	margin-top:0;
	max-width: 1366px;
	max-height: 662px;
}
.mainsection1{
	position: relative;
}